build
app/build
.idea
app/.externalNativeBuild
.gradle
.gradle/4.1/fileHashes/fileHashes.lock
openCVLibrary341
app/app.iml
openCVLibrary341/openCVLibrary341.iml
BabyHelper.iml
local.properties
gradle.properties
tools/BabyHelperSign
